<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div style="text-align: center;">
        <strong>로그인</strong>
    </div>
    <form method="GET" action="/lp">
        <div style="text-align: center;">
            <label for="ID"> 아이디 </label>
            <input type="text" name="ID">
        </div>
        <div style="text-align: center;">
            <label for="PW"> 비밀번호 </label>
            <input type="text" name="PW">
        </div>
        <div style="text-align: center;" class='button'>
            <button type="submit">로그인</button>
        </div>
    </form>
</body>
</html>